# 相机节点配置
g1_camera_node:
  ros__parameters:
    # 发布的 Image 话题名称
    GIMBAL_CAMERA: "SMX/GimbalCamera"

    # GStreamer RTSP 管线字符串（支持换行，用 YAML 折叠样式）
    GIMBAL_GSTREAMER: >-
      rtspsrc location=rtsp://192.168.123.64:554/H264
      protocols=GST_RTSP_LOWER_TRANS_UDP latency=50 drop-on-latency=true
      ! rtph264depay
      ! h264parse
      ! nvv4l2decoder enable-max-performance=1 disable-dpb=1
      ! nvvidconv output-buffers=1
      ! video/x-raw,format=(string)BGRx
      ! videoconvert ! video/x-raw,format=BGR
      ! appsink sync=false max-buffers=1 drop=true

# 控制节点配置
g1_control_node:
  ros__parameters:
    # 输入话题名
    TARGET_ANGLE_TOPIC:  "SMX/TargetImageAngle"
    ODOM_TOPIC:          "SMX/Odom"
    GIMBAL_STATE_TOPIC:  "SMX/GimbalState"
    # 输出话题名
    SPORT_CMD_TOPIC:     "SMX/SportCmd"
    JOY_CMD_TOPIC:       "SMX/JoyFloatCmd"

# 云台节点配置
g1_gimbal_node:
  ros__parameters:
    # 发布云台状态话题
    GIMBAL_STATE_TOPIC: "SMX/GimbalState"
    # 订阅云台控制命令话题
    GIMBAL_CMD_TOPIC:   "SMX/JoyFloatCmd"
    # 串口设备路径
    UART_PORT:          "/dev/ttyUSB0"
    # 云台设备 ID
    GIMBAL_ID:          "G1"